<div class="container">


<ul class="nav nav-pills">
  <% @sections.each do |section| %>
    <li class="nav-item">
    <%= link_to section, menu_path(section: section), class: "nav-link #{params[:section] == section ? 'active' : ''}" %>
  	</li>
  <% end %>
</ul>

<% @items_by_section.each do |food_item| %>
  <div class="row">
    <div class="col-sm-4">
	    <table>
	      <tbody>
	        <tr>
	          <td><%= food_item.name %></td>
	          <td><span class="label label-pill label-primary"><%= food_item.price %></span></td>
	        </tr>
	      </tbody>
	    </table>
	</div>
	<div class="col-sm-4">
		<%= image_tag food_item.url_or_auto %>
	</div>
	<div class="col-sm-4">
		<%= food_item.description %>
	</div>	
  </div>
<% end %>


<%= link_to @name, menu_path(name: @name) %>
<table>
  <tbody>
    <% @items_by_name.each do |food_item| %>
      <tr>
        <td><%= food_item.name %></td>
        <td><%= food_item.description %></td>
        <td><%= food_item.price %></td>
        <td><%= food_item.section %></td>
        <td><%= food_item.url %></td>
        <td><%= link_to 'Show', food_item %></td>
        <td><%= link_to 'Edit', edit_food_item_path(food_item) %></td>
        <td><%= link_to 'Destroy', food_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>